In [1]:
import pandas as pd

First, import the data from the SQL query identifying the population segment from South King County that qualify as "opportunity youth."

In [5]:
oppyouth = pd.read_csv('./data/oppyouth.csv')

In [6]:
oppyouth.head()

,rt,serialno,division,sporder,puma,region,st,adjinc,pwgtp,agep,...,pwgtp71,pwgtp72,pwgtp73,pwgtp74,pwgtp75,pwgtp76,pwgtp77,pwgtp78,pwgtp79,pwgtp80
0,P,2013000030421,9,2,11611,4,53,1061971,11,19,...,16,12,10,9,9,10,13,11,10,10
1,P,2013000047506,9,4,11615,4,53,1061971,5,20,...,1,6,6,7,5,2,4,1,6,1
2,P,2013000048962,9,5,11612,4,53,1061971,25,22,...,7,37,24,44,26,7,25,9,39,7
3,P,2013000057563,9,5,11611,4,53,1061971,20,21,...,6,7,24,23,6,33,19,33,33,18
4,P,2013000058010,9,2,11614,4,53,1061971,45,17,...,20,56,51,39,40,52,17,48,51,54

The estimate of 2019 opportunity youth is calculated by summing all the rows, but each row represents a number of individuals (a weight, in the 'pwgtp' column).

In [7]:
estimate2019 = oppyouth['pwgtp'].sum()
estimate2019

10614